PORT=3000
TICKETMASTER_API_KEY=uJIFJA5UGxH32JKN2sVAudxPDRNQjiYG
SEATGEEK_CLIENT_ID=YOUR_SEATGEEK_CLIENT_ID_HERE
AMADEUS_CLIENT_ID=YOUR_AMADEUS_CLIENT_ID_HERE
AMADEUS_CLIENT_SECRET=YOUR_AMADEUS_CLIENT_SECRET_HERE
EXCHANGERATE_API_KEY=YOUR_EXCHANGERATE_API_KEY_HERE
DUFFEL_ACCESS_TOKEN=YOUR_DUFFEL_TEST_OR_LIVE_ACCESS_TOKEN_HERE
